@import url("https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

hr {
  margin: 2rem 0;
}

/*-----lev2_1-----*/

header {
  background: #000;
  color: #fff;

  nav,
  ul {
    display: flex;
  }

  nav {
    justify-content: space-between;
    padding: 1rem 2rem;

    ul {
      align-items: center;
      gap: 2rem;

      li {
        list-style: none;
        padding: 0.5rem;
      }

      .change {
        background: tomato;
      }
    }

    button {
      padding: 0.5rem;
    }
  }
}

/*-----lev2_2-----*/

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div:first-of-type {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*-----lev2_10-----*/

body {
  font-family: "Karla", sans-serif;
}

button {
  background-color: #035aa6;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 10px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.wrapper {
  max-width: 500px;
  margin-top: 2rem;
  color: green;
}

div:last-of-type {
  border-radius: 5px;
}

.small {
  box-shadow: 0 0 0 5px gray;
}

.middle {
  box-shadow: 0 0 0 10px gray;
}

.big {
  box-shadow: 0 0 0 15px gray;
  font-family: "Calligraffitti";
  color: orange;
  transition: all 0.5s;
}
